@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins:wght@500;600;700&display=swap');

@font-face {
  font-family: 'MADE Mirage';
  src: url('./assets/MADE\ Mirage\ Medium\ PERSONAL\ USE.otf');
}

#pager {
	display:flex;
	justify-content:center;
	align-items:center;
	height:100%;
	width:100%;
	padding:0 20px;
	box-sizing:border-box;
}

.pageContainer {
	height: max(70vh, 600px);
	position: relative;
}

.route {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.05em;
  color: #000000;
}

.title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 40px;
  color: #000000;
}

.description {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: #000000;
}

.special {
  font-family: 'MADE Mirage';
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 36px;
  text-align: center;
  color: #000000;
  letter-spacing: 0.03em;
}

.buttons {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	position:absolute;
	bottom:20px;
}

.nextBtn {
  border: 2px solid #000;
  border-radius: 100px;
  padding: 10px 40px;
  display: inline-flex;
  height: 50px;
  box-sizing:border-box;
  justify-content:center;
  align-items:center;
  user-select: none;
  cursor: pointer;
}

.backBtn {
  background: #E5E5E5;
  border-radius: 100px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  cursor: pointer;
}

#qrcode-scanner {
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 10px;
  background-image: url(./assets/qrcode-border.svg);
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  width: calc(100vw - 60px);
  height: calc(100vw - 60px);
}

#qrcode-live {
  width: auto;
  height: calc(100vw - 60px);
  border-radius: inherit;
  display: block
}

#qrcode-container {
  display: flex;
  flex-direction: row;
  justify-content: center; 
  width: calc(100vw - 60px);
  height: calc(100vw - 60px);
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
  clip-path: border-box;
}

.playerIcon {
  height: 80px;
  width: 80px;
  background-color: red;
  border: 2px solid #000000;
  border-radius: 10px;
}

.rectangular-container {
  border: 2px solid #000000;
  position: relative;
  padding: 40px 56px 50px 56px;
}

.question-option {
  background: #FFFFFF;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 10px;
  display: inline;
  padding: 10px 30px;
  user-select: none;
  cursor: pointer;
  margin-right: 5px
}

.question-correct-option {
  background-color: #64FCD9;
}
/*
  padding: 10px 20px;
} */

#wallContainer {
	width:100%;
	height:100%;

	position:relative;
	background-repeat: no-repeat;
	background-size: contain;

	display:flex;
	justify-content:center;
	align-items:center;

	overflow: hidden;
}

.popupContainer {
	opacity:0;
	transition:0.2s;

	position:absolute;
	top:50%;
	bottom:50%;
	left:50%;
	right:50%;

	width:0px;
	height:0px;

	z-index:auto;
	background-color:white;

	overflow:hidden;
}

.popupContainer.open {
	opacity:1;
	width:100%;
	height:100%;
	top:0;
	bottom:0;
	left:0;
	right:0;

	z-index:1000;

  display: flex;
  justify-content: center;
  align-items: center;
}


.keysInput {
	position:absolute;
	margin-right:110px;

	margin-top:23px;

	height:78vh;
	display:flex;
	flex-direction:column;
	justify-content:space-evenly;
}

.keysInput input {
	display:block;
	width:130px;

	transform:rotate(-5deg);

}
